<%= simple_form_for @post do |m| %> 
	<%= m.simple_fields_for @post.comments.new do |f| %>
	<div class="form-inputs">
		<div class="row">
			<div class="col-xs-12">
				<%= f.input :body, class: "form-control", label: :body, as: :text, autofocus: :true, :input_html => {:style => 'width: 100%, :rows => 5'} %>
			</div>
			<div class-"col-xs-12">
				<%= button_tag(type: 'submit', class: "form-control btn btn-primary") do %> Save <% end %>
			</div>
		</div>
	</div>>
	<% end %>
<% end %>