<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="post-title">Featured Posts</h1>
          <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin: 0 auto; background: #d1dbde;">
            <div class="carousel-inner" role="listbox" style="padding-bottom:35px;">
              <% @posts.tagged_with(["featured"], :any => true).each do |post| %>
                <div class="item <%= "active" if post == @posts.first%>">
                  <%= link_to post_path(post) do %>
                   <%= image_tag(post.image.url(:medium), :class => "carousel_image image_responsive", :style => "max-height:350px;") %>
                  <% end %>
                  <div class="carousel-caption image_caption">
                    <h3 class="post-title"><strong><%= link_to post.title, post_path(post)%></strong></h3>
                  </div>
                </div>
              <% end %>
            </div>
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
             </a>
          </div>
       </div>  
      </div>
    </div>  
  </div>
</div>