/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');


ul .nav navbar-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li.nav-logo{
    margin-top:15px;
    background-color:#000;
    list-style-type: none;
}

li.nav_logo:hover{
    background-color:#000;
}

.containder-fluid{
    background-color:#000;
}

.navbar-inverse .navbar-nav li a{
    line-height: 60px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links li a:hover {
    background-color: #111;
}

.content{
    padding:20px;
    overflow:hidden;
}

button.navbar-toggle{
    margin-top:20px;
}

.container-fluid{
    background-color:#000;
}

.text_center{
    font-size:25px;
}

.col-xs-12{
margin-bottom:80px;
}


.content{
    text-align:center;
}

nav.share{
    padding-top:100px;
}

.show-title{
    margin-right:240px;
}
.row.content{
    padding-right:100px;
    padding-left:500px;
}

.carousel_image{
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 100px;
}

.image_caption{
    top: 72%;
}

li.media{
    margin-bottom:50px;
    width: 100%;
}

h1.post-title{
    color: black !important;
    font-size: 70px;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom:100px;
}

h1.post-title a{
    color:black;
}

h2.post-title{
    color: black !important;
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
}

h2.post-title a{
    color:black;
}

h3.post-title{
    color: black !important;
    font-family: 'Shadows Into Light', cursive;
}
h3.post-title a{
    color:black;
    margin-bottom:5px;
}

h2.post-title a:link{
    text-decoration:none;
}

h2.post-title a:hover{
    color:#900D0D;
}

h1.show-title{
    color: black !important;
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
}

.panel{
    margin-top:25px;
}

.panel-body{
    font-size:15px;
    text-align:left;
}

div.panel-body:hover{
    -webkit-box-shadow: 1px 13px 5px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 13px 5px -7px rgba(0,0,0,0.75);
    box-shadow: 1px 13px 5px -7px rgba(0,0,0,0.75);
}

#myCarousel{
    width:400px;
}

.carousel-inner img {
    width: auto;
    height: auto;
}



/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

   #myCarousel{
        width: 95%;
    }

    li.nav-logo{
        margin-top:0px;
    }

    button.navbar-toggle{
        margin-top:15px;
    }

    .show-image{
        width:95%;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

   #myCarousel{
        width: 95%;
    }

    li.nav-logo{
        margin-top:0px;
    }

    button.navbar-toggle{
        margin-top:15px;
    }

    .show-image{
        width:95%;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

   #myCarousel{
        width: 95%;
    }

    li.nav-logo{
        margin-top:0px;
    }

    button.navbar-toggle{
        margin-top:15px;
    }

    .show-image{
        width:95%;
    }


}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

     #myCarousel{
        width: 95%;
    }

    li.nav-logo{
        margin-top:0px;
    }

    button.navbar-toggle{
        margin-top:15px;
    }

    .show-image{
        width:95%;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

     #myCarousel{
        width: 95%;
    }

    li.nav-logo{
        margin-top:0px;
    }

    button.navbar-toggle{
        margin-top:15px;
    }

    .show-image{
        width:95%;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

     #myCarousel{
        width: 95%;
    }

    li.nav-logo{
        margin-top:0px;
    }

    button.navbar-toggle{
        margin-top:15px;
    }

    .show-image{
        width:95%;
    }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

   #myCarousel{
        width: 95%;
    }

    li.nav-logo{
        margin-top:0px;
    }

    button.navbar-toggle{
        margin-top:15px;
    }

    .show-image{
        width:95%;
    }


}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

   #myCarousel{
        width: 95%;
    }

    li.nav-logo{
        margin-top:0px;
    }

    button.navbar-toggle{
        margin-top:15px;
    }

    .show-image{
        width:95%;
    }


}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

   #myCarousel{
        width: 95%;
    }

    li.nav-logo{
        margin-top:0px;
    }

    button.navbar-toggle{
        margin-top:15px;
    }

    .show-image{
        width:95%;
    }


}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

   #myCarousel{
        width: 95%;
    }

    li.nav-logo{
        margin-top:0px;
    }

    button.navbar-toggle{
        margin-top:15px;
    }

    .show-image{
        width:95%;
    }


}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

   #myCarousel{
        width: 95%;
    }

    li.nav-logo{
        margin-top:0px;
    }

    button.navbar-toggle{
        margin-top:15px;
    }

    .show-image{
        width:95%;
    }


}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

   #myCarousel{
        width: 95%;
    }

    li.nav-logo{
        margin-top:0px;
    }

    button.navbar-toggle{
        margin-top:15px;
    }

    .show-image{
        width:95%;
    }


}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

   #myCarousel{
        width: 95%;
    }

    li.nav-logo{
        margin-top:0px;
    }

    button.navbar-toggle{
        margin-top:15px;
    }

    .show-image{
        width:95%;
    }


}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

   #myCarousel{
        width: 95%;
    }

    li.nav-logo{
        margin-top:0px;
    }

    button.navbar-toggle{
        margin-top:15px;
    }

    .show-image{
        width:95%;
    }


}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

   #myCarousel{
        width: 95%;
    }

    li.nav-logo{
        margin-top:0px;
    }

    button.navbar-toggle{
        margin-top:15px;
    }

    .show-image{
        width:95%;
    }


}
